<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@30.2.1/styles/ag-grid.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@30.2.1/styles/ag-theme-alpine.css" />
<div class="container text-center mt-5">
  <form [formGroup]="myForm">

    <h6 class="justify-content-between">
      Paid By:
      <span>
        <select formControlName="paidBy">
          <ng-container *ngFor="let user of userName ">
            <option [value]="user">{{ user }}</option>

          </ng-container>
        </select>
      </span>
    </h6>

    <h6>Amount Paid:
      <input type="text" formControlName="amountPaid">
    </h6>
    <h6>Paid For:
      <input type="text" formControlName="paidFor" placeholder="Enter values seperated by comma">
    </h6>
    <h6>
      How to split:
      <span>
        <select formControlName="howToSplit">
          <option value="split-equally">split-equally</option>
          <option value="split-between">split-between</option>
        </select>
      </span>
    </h6>
    <div class="d-flex justify-content-center button-color m-3">
      <button (click)="calculate()">Calculate</button>
      <span class="ms-3">
        <button (click)="reset()">Reset</button>
      </span>
    </div>
  </form>
</div>
<ag-grid-angular style="height: 350px;" class="ag-theme-alpine m-5" [gridOptions]="gridOptions">
</ag-grid-angular>